/* color palette from https://www.figma.com/file/TWPPyCgNpT1Dac1HP5bHIA/Technical-Assessment---Accredify-Senior-FE?node-id=9-1596&t=s4BeTCv8ThU2z0AD-0 */
:root {
  --primary-p50: #493DF5;
  --primary-p70: #2B22B5;

  --neutral-n05: #ffffff;
  --neutral-n20: #E8E9EB;
  --neutral-n30: #D0D2D6;
  --neutral-n60: #5B6270;
  --neutral-n80: #151F32;
  --neutral-n95: #000000;
}

/* semantic color variables for this project */
:root {
  --color-background-nav: var(--neutral-n80);
  --color-background-page: var(--neutral-n05);
  --color-border: var(--neutral-n30);

  --color-heading: var(--neutral-n95);
  --color-text: var(--neutral-n95);
  --color-text-light: var(--neutral-n60);

  --color-link: var(--neutral-n95);
  --color-link-hover: var(--neutral-n30);

  --color-nav-bar-icon: var(--neutral-n05);
  --color-nav-bar-icon-disabled: var(--neutral-n30);

  --color-background-user-initials: var(--primary-p50);
  --color-user-initials: var(--neutral-n05);

  --width-nav-bar: 60px;
  --border-radius-small: 6px;
  --border-radius-large: 15px;

  --font-size-small: 0.875rem;

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-nav);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: 'Proxima Nova', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
