@import './base.css';

#app {
  display: flex;
  font-weight: normal;
}

.nav-bar {
  width: var(--width-nav-bar);
  color: var(--color-nav-bar-icon-disabled);
}

.nav-bar a {
  color: var(--color-nav-bar-icon);
  transition: 0.4s;
}

.nav-bar a:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.nav-bar--icon {
  width: 60px;
  height: 60px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.nav-bar--logo {
  width: 40px;
  height: 40px;
}

.nav-bar--icon:first-of-type {
  margin: 8px 0 28px;
}

.page-wrapper {
  background-color: var(--color-background-page);
  min-height: 100vh;
  min-width: calc(100% - var(--width-nav-bar));
  border-top-left-radius: var(--border-radius-large);
}
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
